


.header .container {
    display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-nav {
	display: flex;
}

.search {
	display: flex;
	align-items: center;

}

.lyricsContent .container {
	display: flex;


}


.lyricsContent-items {
	text-align: center;
    display: flex;
	flex-direction: column;
	flex-grow: 2;
}


.footer .container {

	display: flex;
	justify-content: space-between;
	background-color: red;

	position:absolute;
    bottom:0;
	width:100%;
}